:root{
	--nav-height: 60px;
}

body{
	padding:0;
	margin:0;
	display: flex;
	flex-direction: column;
}

.navbar{
	height: var(--nav-height);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 15px -13px black;
	z-index: 10;
	background-color: hsla(0, 0%, 80%, 0.8);
	position: sticky;
	top:0;
	width: 100vw;
}

.navbar img{
	max-width: 70px;
	padding-left: 50px;
}

.navbar ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0 40px 0 0;
	height: var(--nav-height);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
}

.navbar li{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	height: var(--nav-height);
}

.navbar li:hover{
	background-color: blue;
}

.hero{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	/*min-height: calc(100vh / 1.2);*/
	min-height: 900px;
	background-image: url('https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') ,linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,1));
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 20%;
	background-blend-mode: darken;
	margin-top: calc(var(--nav-height)*-1);
}

.card{
	background-color: whitesmoke;
}

.card img{
	width: 300px;
	height: 300px;
}